<nav>
    <ul>
        <li><a href="/peliculas">Títulos de películas</a></li>
        <li><a href="/categorias">Categorías</a></li>
        <li><a href="/usuarios_por_postal">Usuarios por código postal</a></li>
        <li><a href="/usuarios_por_ocupacion">Usuarios por ocupación</a></li>
        <li><a href="/peliculas_mejor_puntuadas">Películas mejor puntuadas</a></li>
        <li><a href="/peliculasform">Buscar una película por su año</a></li>
        <li><a href="/pelicula_mas_likes">Película con más likes de Facebook</a></li>
        <li><a href="/peliculas_por_lenguaje">Películas por lenguaje</a></li>
        <li><a href="/form_mejor_puntuada">Buscar película mejor puntuada del año</a></li>
        <li><a href="/form_director">Burcar películas por director</a></li>
        <!--<li><a href="/cargar">Cargar datos</a></li>-->
    </ul>
    <hr>
</nav>